{% extends 'base.html' %}

{% block content %}
  <h1>INDEX</h1>
  {% if user.is_authenticated %}
  <a href="{% url 'movies:create' %}">[CREATE]</a>
  {% else %}
  <p>[글을 쓰려면 로그인 해주세요]</p>
  {% endif %}
  <hr>
  {% for tag in hash %}
    {% for t in tag %}
    <a href="{% url 'movies:hashtag_filter' t.pk %}"><span class="mx-4">{{ t.content }}</span></a>
    {% endfor %}
  {% endfor %}
  <hr>

  {% for movie in movies %}
    {% if movie.thumbnail_img %}
      <img src="{{ movie.thumbnail_img.url }}" alt="{{ movie.thumbnail_img }}">
    {% endif %}
    <a class="" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
    <br>
    작성자: <a class="" href="{% url 'accounts:profile' movie.user.username %}"> {{movie.user}}</a>
    <br>
    <span>좋아요 : {{movie.like_users.count}}</span>
    {% if request.user.is_authenticated %}
    <form action="{% url 'movies:likes' movie.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in movie.like_users.all %}
        <input type="submit" value="좋아요 취소">
      {% else %}
        <input type="submit" value="좋아요">
      {% endif %}
    </form>
  {% endif %}
  <hr>
  {% endfor %}
{% endblock %}
