{% extends 'base.html' %}

{% block content %}
<h1> {{ person.username }}님의 프로필</h1>
<div>
  <div>
    팔로잉 : {{ person.followings.count }} / 팔로워 : {{ person.followers.count }}
  </div>
</div>
{% if request.user != person %}
{% if request.user.is_authenticated %}
<div>
  <form action="{% url 'accounts:follow' person.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in person.followers.all %}
      <input type="submit" value="Unfollow" class="btn btn-danger">
    {% else %}
      <input type="submit" value="follow" class="btn btn-success">
    {% endif %}
  </form>
</div>
{% endif %}
{% endif %}
<hr><br>

<h2> {{ person.username }}님의 게시글 </h2>
{% for movie in person.movie_set.all %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.content }}</p>
    <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">자세히 보기</a>
  </div>
</div>
<div>{{ movies.title }} </div>
{% endfor %}
<br><hr><br>

<h2> {{ person.username }}님이 좋아요 한 게시글 </h2>
{% for movie in person.like_movie.all %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.content }}</p>
    <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">자세히 보기</a>
  </div>
</div>
<div>{{ movie.title }} </div>
{% endfor %}
<hr>
<a href="{% url 'movies:index' %}" class="btn btn-success">돌아가기</a>

{% endblock content %}


